{:aliases
 {:outdated {:deps      {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}
  :lint     {:replace-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
             :main-opts    ["-m" "clj-kondo.main" "--lint" "src"]}
  :test     {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.86.1355"}}
             :main-opts   ["-m" "kaocha.runner"]
             :extra-paths ["test"]}}

 :paths ["src"]

 :deps  {org.apache.kafka/kafka-clients {:mvn/version "3.5.1"}
         cheshire/cheshire              {:mvn/version "5.11.0"}
         org.clojure/clojure            {:mvn/version "1.11.1"}
         org.clojure/core.async         {:mvn/version "1.6.681"}
         org.clojure/tools.logging      {:mvn/version "1.2.4"}
         org.slf4j/jcl-over-slf4j       {:mvn/version "2.0.7"}
         org.slf4j/jul-to-slf4j         {:mvn/version "2.0.7"}
         org.slf4j/log4j-over-slf4j     {:mvn/version "2.0.7"}
         org.slf4j/slf4j-api            {:mvn/version "2.0.7"}
         ch.qos.logback/logback-classic {:mvn/version "1.4.11"}}}